.container-fluid {
  margin-bottom: 15px;
}

.ui-sortable-placeholder {
  margin-left: 0 !important;
}

header h1 {
  padding: 0;
  margin: 50px 0 30px 0;
  text-transform: uppercase;
  font-size: 60px;
  font-family: 'Oswald', sans-serif;
}

header h1 a, header h1 a:hover{
  color: #fff;
  text-decoration: none;
}

header h1 label {
  color: #2a9fd6;
}

aside p {
  font-size: 90%;
}

aside h2 {
  margin-top: 0;
  font-size: 28px;
  font-family: 'Oswald', sans-serif;
}

aside .links {
  margin: 50px auto;
  max-width: 230px;
  text-align: center;
}

aside .links h2 {
  text-transform: uppercase;
}

section .grid {
  padding-bottom: 0;
}

section .grid li {
  margin: 0 0 15px 0;
}

section .grid li div {
  display: block;
  margin: 0 auto 0 auto;
  padding: 0 0 66% 0;
  background: none no-repeat center center;
  background-size: 100% 100%;
  font-size: 1px;
  cursor: pointer;
}

section .grid  li p {
  margin: 5px 0 0 0;
  font-size: 85%;
}

section .fotorama {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: #000;
}

section .fotorama .fotorama__html > div {
  width: 100%;
  height: 100%;
  background: none no-repeat center center;
  background-size: contain;
  font-size: 1px;
}

section.home .map {
  padding-bottom: 55%;
}

section.photos {
  min-height: 57px;
}

section.photos .close {
  position: fixed;
  z-index: 10;
  right: 10px;
  top: 10px;
}

section.photos .close span {
  font-size: 24px;
}

section.stories aside .links, section.story aside .links {
  margin: 30px 0;
  text-align: left;
}

section.stories aside .links h2, section.story aside .links h2 {
  font-size: 20px;
}

section.new-story .photos {
  padding: 0;
}

section.new-story .grid {
  min-height: 55px;
  margin: 0;
  padding-top: 15px;
  padding-left: 10px;
  border: 1px dotted #333;
}

section.new-story .grid li {
  box-sizing: content-box;
  padding: 0;
  margin: 0 -1px 10px -1px;
}

section.new-story .grid li div {
  margin: 0 5px;
}

section.new-story .grid li.sample {
  text-align: center;
}

section.new-story .grid li.sample h2 {
  margin: 0;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

section.new-story .grid li p {
  display: none;
}

section.new-story .ready {
  border-style: solid;
}

section.new-story .btn.add-story {
  position: absolute;
  top: 65px;
  right: 15px;
}
}
